In [ ]:
#Q1.What will be the data type of the above given variable.

In [12]:
a = "7,9,6"

In [13]:
a

'7,9,6'

In [4]:
type((a))

str

In [5]:
l = [2, 3, 90, "apple", True , 7+6j ,40.60]

In [14]:
l

[2, 3, 90, 'apple', True, (7+6j), 40.6]

In [6]:
type((l))

list

In [7]:
f = 50.2

In [15]:
f

50.2

In [11]:
type((f))

float

In [16]:
t = ("l",9+6j)

In [18]:
t

('l', (9+6j))

In [17]:
type((t))

tuple

In [ ]:
#Q2. Given are some following variables containing data

In [3]:
var1 = ' '

In [4]:
print(type(var1))

<class 'str'>

In [5]:
var2 = '[ DS , ML , Python]'

In [6]:
print(type(var2))

<class 'str'>

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [8]:
type(var3)

list

In [9]:
var4 = 1.

In [10]:
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [12]:
60/30

2.0

In [14]:
90%50

40

In [15]:
40//30

1

In [17]:
5**3

125

#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [15]:
l = [ 3, "apple", 50.2, 25, "pw skills", 80, True, 30.20, "data science", 63]

In [17]:
for s in l :
    print(s, type(s))

3 <class 'int'>
apple <class 'str'>
50.2 <class 'float'>
25 <class 'int'>
pw skills <class 'str'>
80 <class 'int'>
True <class 'bool'>
30.2 <class 'float'>
data science <class 'str'>
63 <class 'int'>

#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [12]:
a =  [1,2,3,4,5,6,7,8,9,12,23,25,45,78,40,71,90,50,33,22,44,41,74,46,10]
for i in a :
    print(i)
    if i % 3 == 0 :
        
            print("divisible by 3 ")

1
2
3
divisible by 3
4
5
6
divisible by 3
7
8
9
divisible by 3
12
divisible by 3
23
25
45
divisible by 3
78
divisible by 3
40
71
90
divisible by 3
50
33
divisible by 3
22
44
41
74
46
10

#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property

In [3]:
list1 =  [1,2,8,66,47,633,]

In [4]:
list1

[1, 2, 8, 66, 47, 633]

In [8]:
list1[3]=33

In [9]:
list1

[1, 2, 8, 33, 47, 633]

In [10]:
# this is mutable data types

In [11]:
str1 = "pw, sun, night, for, pop"

In [12]:
str1

'pw, sun, night, for, pop'

In [13]:
str1[3]="from"

TypeError: 'str' object does not support item assignment

In [15]:
type(str1)

str

In [18]:
# this is immutable data types

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

count = 0
while a % b == 0:
    count += 1
    a = a / b
    
if count > 0:
    print("Number a is purely divisible by b", count, "time.")
else:
    print("Nunmber a is not  purely divisible by b.")

Enter the value of a:  10
Enter the value of b:  2

Number a is purely divisible by b 1 time.